#main-visual {
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/main/bg_main_visual.jpg");
  background-position: 0 100%;
  background-repeat: no-repeat;
}
#main-visual .mask {
  width: 1280px;
  height: 850px;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 100px 0 0 0;
}
#main-visual .mask .main-mask {
  height: 100%;
}
#main-visual .mask li {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#main-visual .mask .visual01 {
  background-image: url("../images/main/main_visual_img1.png");
}
#main-visual .mask .visual02 {
  background-image: url("../images/main/main_visual_img2.png");
}
#main-visual .mask .visual03 {
  background-image: url("../images/main/history_img2.jpg");
}
#main-visual > .contents {
  width: 100%;
  position: absolute;
  bottom: 150px;
  z-index: 2;
  color: #fff;
  user-select: none;
}
#main-visual > .contents .title {
  font-size: 68px;
  font-weight: 900;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  user-select: none;
  pointer-events: none;
}
#main-visual > .contents .pagination {
  margin-top: 50px;
}
#main-visual > .contents .pagination .swiper-pagination-bullet {
  width: 60px;
  height: 4px;
  opacity: 1;
  border-radius: 0;
  background-color: #fff;
}
#main-visual > .contents .pagination .swiper-pagination-bullet-active {
  background-color: #ffc240;
}
#main-visual > .contents .news-and-notice {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}
#main-visual > .contents .news {
  width: 350px;
  word-break: keep-all;
}
#main-visual > .contents .news h3 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  border-bottom: 1px solid #fff;
}
#main-visual > .contents .news .desc {
  line-height: 1.5;
}
#main-visual > .contents .news .desc br {
  content: "";
}
#main-visual > .contents .notice {
  width: 820px;
}
#main-visual > .contents .notice .title-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #fff;
}
#main-visual > .contents .notice .title-box h2 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
#main-visual > .contents .notice .contents {
  position: relative;
  padding: 20px;
  color: #111;
  background-color: #fff;
}
#main-visual > .contents .notice .contents li {
  display: flex;
  align-items: center;
}
#main-visual > .contents .notice .contents .date {
  flex-direction: column;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-right: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #ffc240;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 0px #a67100,2px 2px 0px #a67100,3px 3px 0px #a67100,4px 4px 0px #a67100,5px 5px 0px #a67100,6px 6px 0px #a67100,7px 7px 0px #a67100,8px 8px 0px #a67100,9px 9px 0px #a67100,10px 10px 0px #a67100,11px 11px 0px #a67100,12px 12px 0px #a67100,13px 13px 0px #a67100,14px 14px 0px #a67100,15px 15px 0px #a67100,16px 16px 0px #a67100,17px 17px 0px #a67100,18px 18px 0px #a67100,19px 19px 0px #a67100,20px 20px 0px #a67100,21px 21px 0px #a67100,22px 22px 0px #a67100,23px 23px 0px #a67100,24px 24px 0px #a67100,25px 25px 0px #a67100,26px 26px 0px #a67100,27px 27px 0px #a67100,28px 28px 0px #a67100,29px 29px 0px #a67100,30px 30px 0px #a67100,31px 31px 0px #a67100,32px 32px 0px #a67100,33px 33px 0px #a67100,34px 34px 0px #a67100,35px 35px 0px #a67100,36px 36px 0px #a67100,37px 37px 0px #a67100,38px 38px 0px #a67100,39px 39px 0px #a67100,40px 40px 0px #a67100,41px 41px 0px #a67100,42px 42px 0px #a67100,43px 43px 0px #a67100,44px 44px 0px #a67100,45px 45px 0px #a67100,46px 46px 0px #a67100,47px 47px 0px #a67100,48px 48px 0px #a67100,49px 49px 0px #a67100,50px 100px 0px #a67100;
}
#main-visual > .contents .notice .contents .date .num {
  display: block;
  font-size: 48px;
}
#main-visual > .contents .notice .contents .txt h3 {
  margin-bottom: 10px;
  font-size: 22px;
}
#main-visual > .contents .notice .contents .btns {
  position: absolute;
  top: 50%;
  right: 30px;
  z-index: 2;
  transform: translateY(-50%);
}
#main-visual > .contents .notice .contents .btns i {
  font-size: 20px;
}
#main-visual > .contents .notice .contents .fraction-pagination {
  width: auto;
  position: absolute;
  top: 50%;
  right: 120px;
  bottom: auto;
  left: auto;
  font-size: 20px;
  font-weight: 700;
  transform: translateY(-50%);
}

.section .title-box h2 {
  font-size: 36px;
}
.section .title-box h2 strong {
  font-weight: 700;
}
.section .title-box p {
  font-size: 17px;
  color: #666;
}
.section .title-box .more {
  width: 200px;
  height: 60px;
  display: flex;
  box-sizing: border-box;
  background-color: #0467b3;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-weight: 700;
  font-size: 14px;
}
.section .title-box .more:after {
  content: "\f061";
  font-family: "FontAwesome";
  display: block;
}

#research .title-box .btns {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
#research .title-box .btns .btn {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  width: 140px;
  height: 50px;
  padding: 0 30px;
  justify-content: space-between;
}
#research .title-box .btns .btn-prev:before {
  content: "\f060";
  font-family: "FontAwesome";
}
#research .title-box .btns .btn-next:after {
  content: "\f061";
  font-family: "FontAwesome";
}

/*
@media all and (max-width: 1280px) {

}

@media all and (max-width: 640px) {
  #header {
    #logo {
      display: none;
    }
    #gnb {
      .list {
        flex-direction: column;
      }
    }
  }
}
*/