#sub-visual {
  height: 550px;
  background: url("../images/main/bg_main_visual.jpg") no-repeat;
  background-size: cover;
  padding-top: 120px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}
#sub-visual .container {
  display: flex;
  position: relative;
}
#sub-visual .sub-title {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
}
#sub-visual .sub-title span {
  display: block;
  padding-bottom: 20px;
  border-bottom: 5px solid #ffc240;
}
#sub-visual .bg {
  position: absolute;
  height: 430px;
  max-width: 1280px;
  width: calc(100vw - 400px);
  left: 400px;
  bottom: 0;
  border-radius: 100px 0 0 0;
  background: url("../images/sub-contents/about_visual.jpg") no-repeat;
  background-size: cover;
}

#lnb {
  background-color: #0467b3;
  color: #fff;
}
#lnb .container {
  display: flex;
  height: 65px;
}
#lnb .container .home {
  width: 65px;
  background: url("../images/sub-contents/icon_home.png") no-repeat 50%;
  overflow: hidden;
  text-indent: -999px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
#lnb .container .lnb-box {
  width: 300px;
  font-size: 16px;
  font-weight: 500;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
#lnb .container .lnb-box > a {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 65px;
}
#lnb .container .lnb-box ul {
  position: absolute;
  background-color: #fff;
  width: 100%;
  display: none;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.15);
}
#lnb .container .lnb-box ul a {
  height: 65px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #111;
  border-top: 1px solid #fff;
  transition: all 0.25s ease;
}
#lnb .container .lnb-box ul a:hover {
  background-color: #0467b3;
  color: #fff;
}