@import "vars";
@import "mixins";

#sub-visual {
  height: 550px;
  background: url("../images/main/bg_main_visual.jpg") no-repeat;
  background-size: cover;
  padding-top: 120px;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  .container {
    display: flex;
    position: relative;
  }
  .sub-title {
    font-size: $h1;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    span {
      display: block;
      padding-bottom: 20px;
      border-bottom: 5px solid $point-color;
    }
  }
  .bg {
    position: absolute;
    height: 430px;
    max-width: 1280px;
    width: calc(100vw - 400px);
    left: 400px;
    bottom: 0;
    border-radius: 100px 0 0 0;
    background: url("../images/sub-contents/about_visual.jpg") no-repeat;
    background-size: cover;
  }
}

#lnb {
  background-color: $main-color;
  color: #fff;
  .container {
    display: flex;
    height: 65px;
    .home {
      width: 65px;
      background: url("../images/sub-contents/icon_home.png") no-repeat 50%;
      overflow: hidden;
      text-indent: -999px;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
    .lnb-box {
      width: 300px;
      font-size: 16px;
      font-weight: 500;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      position: relative;
      > a {
        display: flex;
        align-items: center;
        padding-left: 30px;
        height: 65px;
      }
      ul {
        position: absolute;
        background-color: #fff;
        width: 100%;
        display: none;
        box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.15);
        a {
          height: 65px;
          display: flex;
          align-items: center;
          padding-left: 30px;
          color: #111;
          border-top: 1px solid #fff;
          transition: all 0.25s ease;
          &:hover {
            background-color: $main-color;
            color: #fff;
          }
        }
      }
    }
  }
}
